@media (max-width: 1100px) {
  .container {
    width: 55%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 85%;
  }

  .numbers {
    display: flex;
    flex-wrap: wrap;
  }

  .numbers input {
    width: 55%;
  }

  .results__norm {
    display: flex;
    flex-wrap: wrap;
  }

  .results__norm div {
    width: 51%;
  }
}

@media (min-width: 1450px) {
  .container {
    width: 20%;
  }

  .form {
    width: 100%;
  }
}