body{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/fon.jpg") ;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;


}
.container{
    width: 40%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;

}
h1{
    color: #fcf9f7;
    text-align: center;
}
.title{
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    /*padding-top: 10px;*/
}
.ed{
    font-weight: normal;
    padding-left: 5px;
}
span{
    color: #acaaaa;
    font-size: 16px;
    padding-left: 20px;
}
label{
    font-size: 18px;
    color: #323232;

}
form{
    background-color: #f6f2f2;
    border-radius: 10px;
    padding: 20px;
}
/*change style-color input radio*/
.chek{
    display: inline-block;
    position: relative;
}
.chek input[type='radio'] {
    display: none;

}

.chek label:before {
    content: " ";
    display: inline-block;
    margin: 0 5px 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    border: 1px solid #f67d26;
    background-color: transparent;
}

 .chek input[type=radio]:checked + label:after{
     content: " ";
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 6px;
     left: 7px;
    position: absolute;
     display: block;
    background-color: #f67d26;
}


.numbers{
    padding-top: 10px;
    display: flex;
}
.numbers input{
    width: 33%;

}
.btn{
    color: white;
    background-color: #f37007;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    outline: none;
    margin: 10px;
    transition: box-shadow, transform 0.1s;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #f69226;
    box-shadow: 1px 1px 5px  darkgray;
}

.results{
    background-color: #eae8e8;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
h2{
    color: #f67d26;
    text-align: center;
}
.results__norm{
    display: flex;
    justify-content: space-around;

}
.results__norm div{
    width: 30%;
}
.count{

    color: #323232;
    font-weight: bold;
    font-size: large;
    text-align: center;
    border-bottom: 1px solid #f67d26;
    background-color: transparent;
    box-shadow: 1px 1px 5px darkgray;
}
.norma{
    color: #818080;
    text-align: center;
}
